$cards-background-color: white;
$emphazise-color: #b1b1b1;
$padding: 15px;
$border-radius: 4px;

%block-format {
  background-color: $cards-background-color;
  box-sizing: border-box;
  padding: $padding;
}

.advertising {
  @extend %block-format;
  width: 288px;
  border-radius: $border-radius;
  text-align: center;

  h3 {
    font-weight: normal;
    font-size: 0.75em;
    color: $emphazise-color;
  }

  img {
    border: 1px solid $emphazise-color;
  }
}