$accent-color: #52a2fa;
$cards-background-color: white;
$padding: 7px;
$border-radius: 2px;

.buy-button {
  color: $accent-color;
  background-color: $cards-background-color;
  border: 1px solid $accent-color;
  border-radius: $border-radius;
  padding: $padding;
  margin-right: $padding;

  &:last-child {
    margin: 0;
  }
}