$accent-color: #52a2fa;

.favourites {
  color: $accent-color;

  &:before {
    content: "\2606";
    position: absolute;
    left: -23px;
    top: -10px;
    font-size: 1.5em;
  }

  &.starred {
    &:before {
      content: "\2605";
    }
  }
}
