$cards-background-color: white;
$accent-color: #52a2fa;
$emphazise-color: #b1b1b1;
$padding: 15px;
$border-radius: 4px;
$interval: 6px;

%block-format {
  background-color: $cards-background-color;
  box-sizing: border-box;
  padding: $padding;
}

%ul-style {
  padding: 0;
  list-style-type: none;
}

%small-h {
  font-size: 1.2em;
  font-weight: normal;
}

div.resume-content, div.additional-content {
  vertical-align: top;
  display: inline-block;
}

.additional-content {
  width: 288px;
  margin-left: $interval;
}

div.buy-contacts {
  @extend %block-format;
  border-radius: $border-radius;
  width: 640px;
  margin-bottom: $interval;
}

article.job-description {
  width: 640px;

  section {
    position: relative;
    @extend %block-format;

    &.basic-info {
      border-radius: $border-radius;
      margin-bottom: $interval;
      min-height: 166px;

      h1 {
        font-weight: normal;
        margin: ($padding / 2) 0;
        font-size: 1.75em;
      }

      h2 {
        margin: ($padding / 2) 0;
        font-size: 1em;
      }

      img {
        width: 100px;
        height: 100px;
        margin-left: $padding * 4;
        float: right;
      }

      .favourites {
        position: absolute;
        top: $padding;
        left: 524px;

        border-bottom: 1px dotted $accent-color;
      }

      .id-and-status {
        font-size: 0.75em;

        .added-to-inbox {
          color: $emphazise-color;
        }
      }

      .requirements {
        margin-top: $padding / 3 * 2;
        margin-bottom: $padding / 3 * 4;
      }

      .phones {
        font-size: 1.2em;
        margin-bottom: 0;
        @extend %ul-style;

        .number {
          margin-right: $padding;
        }
      }

      .email {
        color: $accent-color;

        &:visited {
          color: $accent-color;
        }
      }
    }

    &.experience {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;

      h2 {
        @extend %small-h;
      }

    }

    ul.previous-positions, ul.schools {
      @extend %ul-style;

      li {
        margin-bottom: $padding;

        &:last-child {
          margin-bottom: 0;
        }

        & > div {
          display: inline-block;
          vertical-align: top;

          p {
            margin: 0;
          }
        }

        .short-info {
          width: 160px;
          margin-right: 20px;

          .position-name {
            font-weight: bold;
          }
        }

        .full-info {
          width: 430px;

          .employer, .school-name {
            font-weight: bold;
          }
        }
      }
    }

    &.education {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      padding-top: 0;

      h2 {
        @extend %small-h;
        margin-top: 0;
      }
    }
  }
}
