$cards-background-color: white;
$accent-color: #52a2fa;
$emphazise-color: #b1b1b1;
$padding: 15px;
$border-radius: 4px;

ul.resumes {
  width: 640px;
  padding: 0;
  margin: 0 auto;

  .candidate {
    position: relative;
    box-sizing: border-box;
    padding: $padding;
    border-radius: $border-radius;
    margin-bottom: 15px;
    list-style: none;
    background-color: $cards-background-color;

    h1 {
      color: $accent-color;
      font-size: 1.2em;
      font-weight: normal;

      a {
        text-decoration: none;

        &:visited {
          color: $accent-color;
        }
      }
    }

    .favourites {
      position: absolute;
      top: $padding;
      left: 524px;
    }

    .date-and-status {
      color: $emphazise-color;
    }

    img {
      width: 100px;
      height: 100px;
      float: right;
    }

    .additional-info {
      margin: 10px 0;
    }
  }
}