<button class="buy-button" ng-click='getAccess(candidate.id)' ng-hide='hasAccess(candidate.id)'>Приобрести контакты</button>
<span ng-show="hasAccess(candidate.id)">
  <button class="buy-button">Пригласить</button>
  <button class="buy-button">Отклонить...</button>
  <button class="buy-button">Рассмотреть</button>
</span>
