<p class="favourites" ng-show="!inFavourites(candidate.id)" ng-click="toggleFavourite(candidate.id)">В избранные</p>
<p class="favourites starred" ng-show="inFavourites(candidate.id)" ng-click="toggleFavourite(candidate.id)">В избранных</p>
