<div ng-if="hasAccess(candidate.id)">
  <ul class=phones>
    <li class="phone" ng-repeat="phone in candidateContacts.phones">
      <span class="number">{{phone.number}}</span>
      <span ng-show="phone.available.from && phone.available.to">
        {{phone.available.from}} — {{phone.available.to}}
      </span>
    </li>
  </ul>
  <div>
    <a class="email" ng-href="mailto:{{candidateContacts.email}}" target="_blank">{{candidateContacts.email}}</a>
  </div>
  <div class="skype">
    skype: {{candidateContacts.skype}}
  </div>
</div>