<div class="resume-content">
  <div buy-contacts class="buy-contacts"></div>
  <article class="job-description">
    <section class="basic-info">
      <p class="id-and-status">
        <span>№ {{candidate.id}}</span>
        <span added-to-inbox></span>
      </p>
      <p favourites></p>
      <p photo></p>
      <h2 class="name" full-name></h2>
      <h1>{{candidate.desiredPosition}}</h1>
      <p class="requirements">
        <span salary></span>,
        <span>{{candidate.desiredSchedule}}</span>,
        <span>{{candidate.desiredLocation}}</span>
      </p>
      <div class="name" how-to-contact></div>
    </section>
    <section class="experience">
      <h2>{{hasWorkExperience ? "Опыт работы " : "Без опыта работы."}}{{workExperienceString}}</h2>
      <ul class="previous-positions" ng-show="hasWorkExperience">
        <li class="position" ng-repeat="position in candidate.workExperience">
          <div class="short-info">
            <p class="position-name">{{position.position}}</p>
            <p>{{countDurationAndGetYearsAndMonthsString(position.datesEmployed)}}</p>
            <p>{{getFromToString(position.datesEmployed)}}</p>
          </div><!--
       --><div class="full-info">
            <span class="employer">{{position.employer}}</span>,
            <span class="area">{{position.area}}</span>,
            <span class="schedule">{{position.schedule}}</span>
            <div>
              <p ng-repeat="line in (position.jobDetails | newlines) track by $index">{{line}}</p>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="education">
      <h2>{{hasEducation ? "Высшее образование" : "Без высшего образования"}}</h2>
      <ul class="schools" ng-show="hasEducation">
        <li class="school-info" ng-repeat="school in candidate.education">
          <div class="short-info">
            <p>{{school.graduationYear}}</p>
          </div><!--
       --><div class="full-info">
            <p class="school-name">{{school.school}}</p>
            <p>{{school.faculty}}</p>
            <p>{{school.studyMode}}</p>
            <p>{{school.specialization}}</p>
          </div>
        </li>
      </ul>
    </section>
  </article>
</div><!--
 --><div class="additional-content">
  <div advertising></div>
</div>