<p ng-hide="resumesPresent">Резюме отсутствуют.</p>
<ul class="resumes" ng-show="resumesPresent">
  <li class="candidate" ng-repeat="candidate in candidates">
    <p class="date-and-status">
      <span class="update">Обновлено {{stringToDate(candidate.updateDate) | date : "d MMMM"}}</span><!--
       --><span ng-show="hasAccessToContacts(candidate.id)">, </span><!-- 
       --><span added-to-inbox="comma"></span>
    </p>
    <p favourites></p>
    <p photo></p>
    <h1><a  ng-href="#/resumes/{{candidate.id}}/view">{{candidate.desiredPosition}}</a></h1>
    <p class="additional-info requirements">
      <span salary></span>,
      <span>{{candidate.age}} {{workExperience.getYearString(candidate.age)}}</span>,
      <span>{{candidate.desiredArea}}</span>,
      <span>{{workExperience.getTotalTimeEmployedString(candidate.workExperience)}}</span>
    </p>
    <p class="additional-info last-experience">
      <span>{{candidate.workExperience[0].position}}</span>,
      <span>{{candidate.workExperience[0].employer}}</span>,
      <span>{{workExperience.countDurationAndGetYearsAndMonthsString(candidate.workExperience[0].datesEmployed)}}</span>
    </p>
    <div buy-contacts></div>
  </li>
</ul>
